/*menu*/
.menu {
  width: 100px;
  background-color: white;
  position: absolute;
  border: 1px solid black;
  padding: 10px;
}

/*Links*/
a{
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/*text*/

h1 {
  font-size: 50px;
  font-family: 'Helvetica', sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  font-size: 30px;
  font-style: italic;
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  font-family: 'Lato', 'Noto Sans KR' sans-serif;
}

/*main page*/
.main-p1 {
  max-width: 500px;
  margin: 20px auto auto;
  color: black;
  border: 10px solid yellow;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.main-p1:hover {
  background-color: yellow;
}

.main-p2 {
max-width: 500px;
margin: 20px auto auto;
color: black;
border: 10px solid black;
padding: 20px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-align: center;
}

.main-p2:hover {
  background-color: black;
  color: white;
}

.main-p3 {
  max-width: 500px;
  margin: 20px auto auto;
  color: black;
  border: 10px solid blue;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.main-p4 {
  max-width: 500px;
  margin: 20px auto auto;
  color: black;
  border: 10px solid red;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.main-p3:hover {
  background-color: blue;
}

/*main-content-seoul*/
.main-content-seoul {
  margin: 10px;
  border: 20px solid yellow;
  text-align: center;
  padding: 20px;
}

.main-content-hongkong {
  margin: 10px;
  border: 20px solid black;
  text-align: center;
  padding: 20px;
}

.main-content-calcutta {
  margin: 10px;
  border: 20px solid blue;
  text-align: center;
  padding: 20px;
}

.main-content-osaka {
  margin: 10px;
  border: 20px solid red;
  text-align: center;
  padding: 20px;
}


.step8-container {
            position: relative;
          }
          nav {
            position: fixed;
            left: 0px;
            width: 150px;
            background-color: yellow;
            padding: 5px;
          }
          section {
            position: relative;
            margin-left: 250px;
            border-left: solid black 1px;
            border-bottom: solid black 1px;
            background-color: #f5f5f5;
          }
          footer {
            position: relative;
            border-top: solid black 1px;
            top: 150px;
            bottom: 0;
            left: 0;
            height: 70px;
            background-color: white;
            width: 100%;
            text-align: center;
          }
          body {
            margin-bottom: 120px;
          }

          @media screen and (min-width:600px) {
       nav {
         float: left;
         width: 25%;
       }
       section {
         margin-left: 25%;
       }
     }
     @media screen and (max-width:599px) {
       nav li {
         display: inline;
         border: 1px powderblue solid;
       }
     }
